body{
  background-color: #FDE8CD;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#container{
  background-color: #1A1A19;
  width: 340px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

/*container botones*/
#buttons{
  width: 330px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
button{
  height: 62px;
  width: 80px;
  margin: 1px;
  border: none;
  color: white;
  font-size: 14px;
}
button:hover{
  color: black;
  outline: 1px solid #DEFBC2
}
#clear{
  width: 244px;
  background-color: #05817B;
}
#equals{
  width: 162px;
  background-color: #025955;
}
.op{
  background-color: #5D5D57;
}
.numbers{
  background-color: #44443C;
}

/*pantalla*/
#screen{
  width: 326px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}
#display{
  color: #FF7800;
  font-size: 23px;
}

#result{
  color: white;
  font-size: 21px;
}